.row {
    margin-right: 0px!important ;
    margin-left: -15px;
}
#main_page_section {
  background-image: url(../img/main.png);
  width:100%;
  height:790px;
}

.port_1 {
  margin:60px 0 0 40px;
}

.main_text { 
  position:absolute;
   margin:-530px 0 0 630px;
   color:white;
  font-family: 'Open Sans', sans-serif; 
  font-size: 55px;

 }
 .wwww {
  font-family: 'Great Vibes', cursive;
  font-size: 60px;

 }

 .h2_main_text {
   position:absolute;
   margin:-270px 0 0 620px;
   color:white;
  font-family: 'Open Sans', sans-serif; 
  font-size: 40px;
 }

 .main_button {
  display:inline-block;
  cursor: pointer;
   border-radius: 10px;
  border:solid 2px none;
  width: 355px;
  height: 80px;
  background: rgba(0,0,0,0.8);
  position:absolute;
  padding-top: 25px; 
   margin:-140px 0 0 770px;
   color:white;
  font-family: 'Open Sans', sans-serif; 
  font-size: 20px;
 }
 .Прямоугольник_3 {
  border-radius: 10px;
  background-color: rgb(54, 54, 54);
  opacity: 0.82;
  position: absolute;
  left: 812px;
  top: 579px;
  width: 355px;
  height: 99px;
  z-index: 9;
}
#second_section{
  position: relative;
  top:50px;
}

.second_p {
   margin: 100px 0 100px 0;
   font-family: 'Open Sans', sans-serif; 
  font-size: 20px;
}

#third{ 
  /*position: relative;*/
  margin-top:90px;
  /*background-image:url(../img/sec_pic.png);*/
  /*width:100vw;*/
  /*height:650px;*/
 }

/* .rooow{
   margin-left: 100px;
 }*/
 .lalala{
  position: absolute;
  left: 0;
   width:100%;
  height:650px;
 }

.cell_black{
  background-color: rgba(0,0,0,0.6);
  height: 45px;
  width: 420px;
}
.cell_white{

  height: 45px;
}
#tab{
  color:white;
  margin-top: 110px;
  }

  .port_5{
    margin-top: 170px;
  }

  #s4{
    margin-top: 90px;
  }
.otziv{
  font-family: 'Open Sans', sans-serif; 
  font-size: 25px;
}
  .face_table{
    margin-top: 10px;
    border:0px solid #ebebeb;
    background-color: #ebebeb;
    height: 340px;
    width: 360px;
  }
  .name_table{
    position: relative;
    top:90px; 
    font-family: 'Open Sans', sans-serif; 
  font-size: 25px;


  }
  .world_table{
    position: relative;
    top:115px;
    font-family: 'Open Sans', sans-serif; 
  font-size: 17px; 
  }
  .img_face{
    position: relative;
    top: 90px;
    left: 80px;
  }

  .foot_table{
    padding-top: 50px;
    margin-top: 70px;
    border:1px solid black;
    width: 340px;
    height: 500px;
    background-color: rgba(0,0,0,0.6);
   display: inline-block;

  }

  .s5{
    font-family: 'Open Sans', sans-serif; 
  font-size: 17px;
  color:white;
    margin-top: 100px;
  }

  .lift{
    width: 100%;
    height:650px; 
    position: absolute;
    left:0px;
  }

.foot_button{
  margin-top: 10px;
  padding-top: 12px;
display:inline-block;
  cursor: pointer;
   border-radius: 10px;
  border:solid 2px none;
  width: 255px;
  height: 50px;
  background:red;
  
   color:white;
  font-family: 'Open Sans', sans-serif; 
  font-size: 20px;
}
.foot_input{
  width: 255px;
  height: 50px;
  margin-bottom: 25px;
}
#CDT{
  position: absolute;
  right: 145px;
  top:360px;
}
.pp{
  font-size: 20px;
  position: relative;
  top: -20px;
}
.ppp{
  position: relative;
  top: 20px;

}